doctype html
html
	head
		meta(name="viewport",content="initial-scale=1.0,user-scalable=no")
		meta(charset="utf-8")
		title Checklist test
		meta(name="og:title",content="test")
		meta(name="og:description",content="A useful test")
		meta(name="og:image",content="./lib/images/share.png")
		link(rel="stylesheet",href="../../style/reset.css")
		link(rel="stylesheet",href="../../style/basic.css")
		link(rel="stylesheet",href="./main.css")
		script(src="../../script/lodash.js")
		script(src="./main.js",type="module")
		link(href=href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Barlow:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i",rel="stylesheet")
	body
		div.b-page
			div.b-header
				h1.t-h1 The CheckList Control Part
				br
				h2.t-h2 Testing all the forms and functions of the checklist part
			div.b-body
				p.t-body
					| The checklist `part` is a very versatile control that can be used in all sorts of situations, here are a few examples
				br
				h3.t-h3 Methods of defining a checkList
				br
				p.t-body
					| Since the checklist is a part, we use the regular part attribute
					| tags to define the bound element (part, options),
					| you can define the checklist statically (in html) or dynamically in javascript
				div.d-horizontal
					div.sample
						h4.t-h4 Static
						div.e-checklist(part="CheckList",options="static:true")
							ol.items
								li.item(node="item",data-value="a",on="click")
									span.label.t-control Item A
								li.item(node="item",data-value="b",on="click")
									span.label.t-control Item B
								li.item.is-selected(node="item",data-value="c",on="click")
									span.label.t-control Item C
								li.item(node="item",data-value="d",on="click")
									span.label.t-control Item D
					div.sample
						h4.t-h4 Dynamic
						div.e-checklist(part="CheckList",options="values:{a:'Item A',b:'Item B', c:'Item C', d:'Item D'}")
							ol.items
								li.item(template="item",on="click")
									span.label.t-control(node="label")
				div.e-gap
				h3.t-h3 Customizing behavior with options
				br
				p.t-body
					| Using the options property its possible to customize the behavior of the selection,
					| like setting a minimum number of selectable items and/or a maximum.
				p.t-body
					| Here we set a max of 1 and a min of 1, this behavior is similar to a radio list or a list of tabs or even a dropdown
				p.t-body
					| max 3 min 2 is also possible although a bit strange
				div.d-horizontal
					div.sample
						h4.t-h4 Static (max 1, min 1)
						div.e-checklist(part="CheckList",options="maxSelection:1,minSelection:1,static:true")
							ol.items
								li.item(node="item",data-value="a",on="click")
									span.label.t-control Destiny
								li.item(node="item",data-value="b",on="click")
									span.label.t-control Item B
								li.item.is-selected(node="item",data-value="c",on="click")
									span.label.t-control Item C
								li.item(node="item",data-value="d",on="click")
									span.label.t-control Item D
					div.sample
						h4.t-h4 Dynamic (max 1, min 1)
						div.e-checklist(part="CheckList",options="maxSelection:1,minSelection:1,values:{a:'Item A',b:'Item B', c:'Item C', d:'Item D'}")
							ol.items
								li.item(template="item",on="click")
									span.label.t-control(node="label")
					div.sample
						h4.t-h4 Static (max 3, min 2)
						div.e-checklist(part="CheckList",options="maxSelection:3,minSelection:2,static:true")
							ol.items
								li.item(node="item",data-value="a",on="click")
									span.label.t-control Item A
								li.item(node="item",data-value="b",on="click")
									span.label.t-control Item B
								li.item.is-selected(node="item",data-value="c",on="click")
									span.label.t-control Item C
								li.item(node="item",data-value="d",on="click")
									span.label.t-control Item D
					div.sample
						h4.t-h4 Dynamic (max 3, min 2)
						div.e-checklist(part="CheckList",options="maxSelection:3,minSelection:2,values:{a:'Item A',b:'Item B', c:'Item C', d:'Item D'}")
							ol.items
								li.item(template="item",on="click")
									span.label.t-control(node="label")
				div.e-gap
				h3.t-h3 Useful methods and events
				br
				p.t-body
					| If you define an `all` or a `nothing` with click event handlers, they will behave as expected
				div.d-horizontal
					div.sample
						h4.t-h4 Static with extra controls
						div.e-checklist(part="CheckList",options="static:true")
							div.controls
								div.e-button(node="all",on="click")
									span.label.t-control All
								div.e-button(node="nothing",on="click")
									span.label.t-control Clear
							ol.items
								li.item(node="item",data-value="a",on="click")
									span.label.t-control Item A
								li.item(node="item",data-value="b",on="click")
									span.label.t-control Item B
								li.item.is-selected(node="item",data-value="c",on="click")
									span.label.t-control Item C
								li.item(node="item",data-value="d",on="click")
									span.label.t-control Item D
				div.e-gap
				h3.t-h3 Resizing list using javascript and animations
				br
				p.t-body
					| Here is a more elaborate example with what you can do, notice We subclassed the
					| checklist with NiceCheckList
				div(part="DynamicTest")
					div.sample
						h4.t-h4 Dynamic with animations
						div.e-checklist.is-nice(part="NiceCheckList",options="values:{a:'Item A',b:'Item B', c:'Item C', d:'Item D'}")
							ol.items(node="items")
								li.item(template="item",on="click")
									span.label.t-control(node="label")
					div.sample
						div.e-button(node="button",on="click")
								span.label.t-control Change items
				div.e-gap
				h3.t-h3 Binding 2 checklists together
				br
				p.t-body
					| Here we do a bidirectional bind between 2 checklists, We have a nice checklist
					| that will update a checklist (thats styled to look like tag selection) and vice versa
				div(part="DoubleBoundChecklist")
					div.sample
						h4.t-h4 Double bound Checklist
						div.e-tags(part="CheckList",options="values:{a:'Item A',b:'Item B', c:'Item C', d:'Item D'}")
							ol.items(node="items")
								li.item(template="item",on="click")
									span.label.t-control(node="label")
						div.e-checklist.is-nice(part="NiceCheckList",options="values:{a:'Item A',b:'Item B', c:'Item C', d:'Item D'}")
							ol.items(node="items")
								li.item(template="item",on="click")
									span.label.t-control(node="label")
						div.e-checklist.is-nice(part="NiceCheckList",options="values:{a:'Item A',b:'Item B', c:'Item C', d:'Item D'}")
							ol.items(node="items")
								li.item(template="item",on="click")
									span.label.t-control(node="label")
					div.sample
						div.e-button(node="button",on="click")
								span.label.t-control Change items
						div.e-button(node="button2",on="click")
								span.label.t-control Change items