
// ============================================================================
// VARIALBES
// ============================================================================

$font: 'Barlow', sans-serif;
$font_body: 'Raleway', sans-serif

$color_background    : #d9e5ff
$color_page          : #385EAC
$color_text          : white
$color_highlight     : #F4DA13
$color_highlight_dk  : #4B4E1B
$color_highlight2    : #FEAE00
$color_bad           : #CC2F2F

// ============================================================================
// BASE
// ============================================================================

p
	padding-bottom: 12px

// ============================================================================
// TEXT
// ============================================================================

.t-h1
	font-size: 30px
	line-height: 1.5
	letter-spacing: 2px
	text-transform: uppercase
	color: $color_page
	font-weight: 800
	font-family: $font
.t-h2
	font-size: 18px
	font-weight: 600
	line-height: 1.5
	opacity: 1
	color: black
	font-family: $font
.t-h3
	font-weight: 600
	font-size: 16px
	letter-spacing: 1.5px
	line-height: 1.6
	font-family: $font
	background-color: rgba(255,255,255,0.1)
	display: inline-block
	padding-right: 12px
	padding-left: 12px
	position: relative
	left: -12px
	margin-bottom: 12px
	text-transform: uppercase

.t-h4
	font-weight: 400
	font-style: italic
	font-size: 14px
	line-height: 1.5
	letter-spacing: 0.05em
	font-family: $font
.t-note
	font-size: 10px
	opacity: 0.6
	font-family: $font
.t-body
	font-size: 14px
	line-height: 1.5
	font-weight: 300
	font-family: $font_body
	letter-spacing: 0.05em
.t-control
	font-size: 14px
	line-height: 1.5
	font-family: $font
	letter-spacing: 0.1em

// ============================================================================
// DECORATORS
// ============================================================================

.d-horizontal
	display: flex
	flex-direction: row
	justify-content: space-evenly
	align-items: center

=d_expand($margin)
	position: absolute
	top: $margin
	bottom: $margin
	left: $margin
	right: $margin


// ============================================================================
// ELEMENTS
// ============================================================================

.e-gap
	padding-top: 50px

.e-button
	padding: 6px 10px
	display: inline-block
	cursor: pointer
	user-select: none
	margin-left: 3px
	margin-right: 3px
	position: relative
	background-color: rgba(0,0,0,0.2)
	.label
		transition: all 0.25s
		display: block
		color: rgba(0,0,0,0.85)
		font-weight: bold
		position: relative
		z-index: 1
	&:before
		transition: all 0.25s
		content: ""
		+d_expand(0px)
		background-color: $color_highlight
		border: 2px outset transparent
	&:after
		content: ""
		transition: all 0.25s
		+d_expand(-6px)
		box-sizing: border-box
		opacity: 0
		pointer-events: none
		// transform: scale(2)
		border: 3px solid $color_highlight
	&:hover
		&:before
			transform: translate(0px, -4px)
		.label
			transform: translate(0px, -4px)
	&:active
		&:before
			transform: translate(0px, 0px)
			transition-duration: 0s
		.label
			transform: translate(0px, 0px)
			transition-duration: 0s
		&:after
			transition-duration: 0s
			top: 0px
			left: 0px
			bottom: 0px
			right: 0px
			opacity: 1

.e-checklist
	border: 2px solid white
	display: inline-block
	text-align: left
	.controls
		display: flex
		flex-direction: row
		justify-content: space-evenly
		border-bottom: 2px solid white
		.e-button
			margin: 6px 6px
			cursor: pointer
			&:first-child
				margin-right: 0
	.items
		padding-top: 6px
		padding-bottom: 6px
	.item
		padding: 6px 12px
		cursor: pointer
		user-select: none
		&:before
			margin-right: 6px
			content: ""
			display: inline-block
			vertical-align: middle
			height: 14px
			width: 14px
			border-radius: 50%
			box-sizing: border-box
			background-color: white
			border: 1px solid white
		&.is-selected
			.label
				color: $color_highlight
			&:before
				border-color: $color_highlight_dk
				background-color: $color_highlight
	&.is-nice
		padding: 6px 12px
		.items
			position: relative
			width: 160px
			padding: 0
			transition: height 0.25s
		.item
			position: absolute
			top: 0
			left: 0
			rigth: 0
			transition: all 0.25s
			opacity: 1
			&.is-selected
				z-index: 1
			&.is-new
				opacity: 0

.e-tags
	border-radius: 2px
	display: block
	text-align: center
	.controls
		display: flex
		flex-direction: row
		justify-content: space-evenly
		border-bottom: 2px solid black
		.e-button
			margin: 6px 6px
			cursor: pointer
			&:first-child
				margin-right: 0
	.items
		padding-top: 6px
		padding-bottom: 6px
	.item
		padding: 6px 12px
		cursor: pointer
		user-select: none
		display: none
		border: 2px solid white
		border-radius: 4px
		margin-left: 3px
		.label
			vertical-align: middle
		&:after
			margin-left: 4px
			content: "-"
			color: $color_bad
			height: 10px
			width: 10px
			font-size: 18px
			line-height: 6px
			border: 2px solid $color_bad
			display: inline-block
			border-radius: 50%
			vertical-align: middle
		&.is-selected
			display: inline-block

.e-slider
	display: inline-block
	padding: 16px
	.bar
		width: 300px
		height: 20px
		position: relative
		user-select: none
		&:before
			content: ""
			+d_expand(0px)
			background-color: white
			height: 10px
			margin: auto
			border-radius: 5px
		.handle
			position: absolute
			height: 20px
			width: 20px
			top: 0
			left: 0
			box-sizing: border-box
			border: 2px solid $color_highlight
			background-color: $color_highlight_dk
			border-radius: 100%
			z-index: 1
			transform: translateX(-50%)
		.range
			position: absolute
			height: 10px
			margin: auto
			bottom: 0
			width: 0
			background-color: $color_highlight
			top: 0
			left: 0
	&.is-vertical
		.bar
			width: 20px
			height: 300px
			&:before
				content: ""
				+d_expand(0px)
				background-color: white
				height: 100%
				width: 10px
				margin: auto
				border-radius: 5px
		.handle
			transform: translateY(-50%)
		.range
			left: 0
			right: 0
			bottom: auto
			width: 10px

// ============================================================================
// BLOCKS
// ============================================================================

body
	background-color: $color_background

.b-page
	padding-bottom: 150px

.b-header
	text-align: center
	padding: 24px
	font-weight: bold
	padding-top: 72px
	padding-bottom: 48px

.b-body
	padding-top: 72px
	padding-bottom: 100px
	padding-left: 48px
	padding-right: 48px
	color: $color_text
	background-color: $color_page
	max-width: 900px
	margin: auto
	box-shadow: 0px 0px 10px black
	.sample
		padding-top: 30px
		text-align: center
	.e-checklist
		margin-top: 6px

