doctype html
html
	head
		meta(name="viewport",content="initial-scale=1.0,user-scalable=no")
		meta(charset="utf-8")
		title Slider test
		meta(name="og:title",content="test")
		meta(name="og:description",content="A useful test")
		meta(name="og:image",content="./lib/images/share.png")
		link(rel="stylesheet",href="../../style/reset.css")
		link(rel="stylesheet",href="../../style/basic.css")
		link(rel="stylesheet",href="./main.css")
		script(src="../../script/lodash.js")
		script(src="./main.js",type="module")
		link(href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Barlow:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i",rel="stylesheet")
	body
		div.b-page
			div.b-header
				h1.t-h1 The Slider Control Part
				h2.t-h2 Testing all of its forms and functions of the Slider control part
			div.b-body
				p.t-body
					| The slider `part` is a horizontal or vertical bar which has
					| one or many handles and may have zero to many ranges between
					| handles.
				p.t-body
					| These can be useful for selecting a value within a range or
					| selecting a range.
				div.e-gap
				h3.t-h3 Methods of defining a slider
				br
				p.t-body
					| Since the slider is a part, we use the regular part attribute
					| tags to define the bound element (part, options)
				div.d-horizontal
					div.sample
						h4.t-h4 Simple Slider with one handle
						div.e-slider(part="Slider",options="")
							div.bar(node="bar",on="drag")
								div.handle(template="handle",on="drag")
									span.label(node="label")
								div.range(template="range",on="drag")
									span.label(node="label")
				div.d-horizontal
					div.sample
						h4.t-h4 Slider with two handles
						div.e-slider(part="Slider",options="values:[0,0.5]")
							div.bar(node="bar",on="drag")
								div.handle(template="handle",on="drag")
									span.label(node="label")
								div.range(template="range",on="drag")
									span.label(node="label")
				div.d-horizontal
					div.sample
						h4.t-h4 Slider with two handles and range
						div.e-slider(part="Slider",options="values:[0,0.5],ranges:[[0,1]]")
							div.bar(node="bar",on="drag")
								div.handle(template="handle",on="drag")
									span.label(node="label")
								div.range(template="range",on="drag")
									span.label(node="label")
				div.d-horizontal
					div.sample
						h4.t-h4 Slider with four handles and 2 range
						div.e-slider(part="Slider",options="values:[0,0.25,0.75, 1],ranges:[[0,1],[2,3]]")
							div.bar(node="bar",on="drag")
								div.handle(template="handle",on="drag")
									span.label(node="label")
								div.range(template="range",on="drag")
									span.label(node="label")
				div.d-horizontal
					div.sample
						h4.t-h4 Slider with 3 handles and 2 range
						div.e-slider(part="Slider",options="values:[0,0.25, 1],ranges:[[0,1],[1,2]]")
							div.bar(node="bar",on="drag")
								div.handle(template="handle",on="drag")
									span.label(node="label")
								div.range(template="range",on="drag")
									span.label(node="label")
				div.d-horizontal
					div.sample
						h4.t-h4 Slider with 3 handles and 1 range
						div.e-slider(part="Slider",options="values:[0,0.25, 1],ranges:[[0,2]]")
							div.bar(node="bar",on="drag")
								div.handle(template="handle",on="drag")
									span.label(node="label")
								div.range(template="range",on="drag")
									span.label(node="label")
				div.e-gap
				h3.t-h3 We can also use them vertically
				br
				div.d-horizontal
					div.sample
						h4.t-h4 Simple Slider with one handle
						div.e-slider.is-vertical(part="Slider",options="vertical:true")
							div.bar(node="bar",on="drag")
								div.handle(template="handle",on="drag")
									span.label(node="label")
								div.range(template="range",on="drag")
									span.label(node="label")
					div.sample
						h4.t-h4 Slider with two handles
						div.e-slider.is-vertical(part="Slider",options="values:[0,0.5],vertical:true")
							div.bar(node="bar",on="drag")
								div.handle(template="handle",on="drag")
									span.label(node="label")
								div.range(template="range",on="drag")
									span.label(node="label")
					div.sample
						h4.t-h4 Slider with two handles and range
						div.e-slider.is-vertical(part="Slider",options="values:[0,0.5],ranges:[[0,1]],vertical:true")
							div.bar(node="bar",on="drag")
								div.handle(template="handle",on="drag")
									span.label(node="label")
								div.range(template="range",on="drag")
									span.label(node="label")
					div.sample
						h4.t-h4 Slider with four handles and 2 range
						div.e-slider.is-vertical(part="Slider",options="values:[0,0.25,0.75, 1],ranges:[[0,1],[2,3]],vertical:true")
							div.bar(node="bar",on="drag")
								div.handle(template="handle",on="drag")
									span.label(node="label")
								div.range(template="range",on="drag")
									span.label(node="label")
					div.sample
						h4.t-h4 Slider with 3 handles and 2 range
						div.e-slider.is-vertical(part="Slider",options="values:[0,0.25, 1],ranges:[[0,1],[1,2]],vertical:true")
							div.bar(node="bar",on="drag")
								div.handle(template="handle",on="drag")
									span.label(node="label")
								div.range(template="range",on="drag")
									span.label(node="label")
					div.sample
						h4.t-h4 Slider with 3 handles and 1 range
						div.e-slider.is-vertical(part="Slider",options="values:[0,0.25, 1],ranges:[[0,2]],vertical:true")
							div.bar(node="bar",on="drag")
								div.handle(template="handle",on="drag")
									span.label(node="label")
								div.range(template="range",on="drag")
									span.label(node="label")