doctype html
html
	head
		meta(name="viewport",content="initial-scale=1.0,user-scalable=no")
		meta(charset="utf-8")
		title Vue test
		meta(name="og:title",content="test")
		meta(name="og:description",content="A useful test")
		meta(name="og:image",content="./lib/images/share.png")
		script.
			// Required for vue
			window.process = { env: { NODE_ENV: 'test' } };
		script(src="../../script/lodash.js")
		script(src="./main.js",type="module")
		link(rel="stylesheet",href="../../style/reset.css")
		link(rel="stylesheet",href="../../style/basic.css")
		link(rel="stylesheet",href="./main.css")
		link(href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Barlow:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i",rel="stylesheet")
	body
		div.b-page
			div.b-header
				h1.t-h1 Vue Test
				h2.t-h2 First attempt at creating vue components
			div.b-body
				p.t-body
					| Here we test out vue to see how it works
				div#app
					check-list(
						v-bind:default-items="items"
						v-on:update-items="updateItems"
					)
				check-list#standalone-checklist()
		// Templates
		script#check-list(type="text/x-template")
			div.e-checklist
				ol.items
					li.item(
							v-for="item in items"
							v-bind:class="{'is-selected':item.selected}"
							v-bind:data-key="item.key"
							v-on:click="toggleItem"
						)
						span.label.t-control {{item.label}}
