doctype html
html
	head
		meta(name="viewport",content="initial-scale=1.0,user-scalable=no")
		meta(charset="utf-8")
		title Nested parts test
		meta(name="og:title",content="test")
		meta(name="og:description",content="A useful test")
		meta(name="og:image",content="./lib/images/share.png")
		link(rel="stylesheet",href="../../style/reset.css")
		link(rel="stylesheet",href="../../style/basic.css")
		link(rel="stylesheet",href="./main.css")
		script(src="../../script/lodash.js")
		script(src="./main.js",type="module")
		link(href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Barlow:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i",rel="stylesheet")
	body
		div.b-page
			div.b-header
				h1.t-h1 Part nesting
				h2.t-h2 How to nest parts/nodes and templates
			div.b-body
				p.t-body
					| One of the most useful feature of parts is that they can be nested
					| in all sorts of useful ways.
				p.t-body
					| This test also demonstrates/tests the default rendering behavior of the parts
					| This can be changed by overriding the `render` function of the part.
					| In that case you can manually use the nodes, templates and formatters.
					| The default render is useful if the DATA is suitably formatted ahead of time
				p.t-body
					| You can also process the data to a more suitable format by overriding the `set`
					| method and keep the default rendering behavior.
				p.t-body
					| Here we are also using anonymous nodes and templates
					| typically you would want to give them a name by using `data-node=name`
					| or `data-template=name`, but this is not mandatory.
				div.e-gap
				h3.t-h3 Part with Node
				div.b-part(part="Part",options="load:'./data.json'")
					h1(node,path="title")
					h2(node,path="subtitle")
				h3.t-h3 Part with Template
				div.b-part(part="Part",options="load:'./data.json'")
					h1(node,path="title")
					h2(node,path="subtitle")
					ol
						li.e-tag(template,path="letters")
				h3.t-h3 Part with Part
				div.b-part(part="Part",options="load:'./data.json'")
					h1(node,path="title")
					h2(node,path="subtitle")
					span Note how the path is scoped to the parent
					div.b-part(part="Part",path="child")
						h1(node,path="title")
						h2(node,path="subtitle")
				h3.t-h3 Part with Part with Template
				div.b-part(part="Part",options="load:'./data.json'")
					h1(node,path="title")
					h2(node,path="subtitle")
					span Note how this part is re-loading the options
					div.b-part(part="Part",options="load:'./data.json'")
						h1(node,path="child.title")
						h2(node,path="child.subtitle")
						ol
							li.e-tag(template,path="letters")
				h3.t-h3 Part with Template with Nodes
				div.b-part(part="Part",options="load:'./data.json'")
					h1(node,content="title")
					h2(node,f-content="subtitle",f-color="this.color")
					ol
						li(template,path="letters",as="letter")
							span.e-tag(node,f-html="letter")
							span.e-tag(node,f-html="letter")
				h3.t-h3 Part with Template with Template
				// div.b-part(part="Part",options="load:'./data.json'")
				// 	h1(node,path="title")
				// 	h2(node,path="subtitle")
				// 	span here we create a table using double nested templates
				// 	table
				// 		tr(template,path="table")
				// 			td(template,path="")
				// 				span.e-tag(node,path="")
				// 	span Paths can also be indexes so we can get a cell like:
				// 	span.e-tag(node,path="table.1.1")
				// h3.t-h3 Part with Node with Node
				// div.b-part(part="SamplePart")
				// 	h1(node,path="title")
				// 	h2(node,path="subtitle")
				// 	span You can nest parts when you use formatters&nbsp;
				// 	span.e-tag(node,path="table.2.2",format="backgroundColor")
				// 		span(node,path="table.2.2",format="text")
				// 	div This part is also loaded using a custom `SamplePart` class instead of a file
