
// ============================================================================
// VARIALBES
// ============================================================================

// ============================================================================
// BASE
// ============================================================================

h1
	font-weight: bold
	font-size: 20px
	line-height: 1.3
h2
	font-weight: bold
	line-height: 1.6

// ============================================================================
// TEXT
// ============================================================================


// ============================================================================
// ELEMENTS
// ============================================================================

.e-tag
	margin-right: 3px
	display: inline-block
	background-color: lightgrey
	border-radius: 3px
	padding: 2px 6px
	color: black

// ============================================================================
// DECORATORS
// ============================================================================

// ============================================================================
// BLOCKS
// ============================================================================

.b-part
	border: 1px solid black
	margin-top: 12px
	margin-bottom: 24px
	padding: 12px

// ============================================================================
// CUSTOM
// ============================================================================
